.header {
  padding: 28px;
  color: rgb(247, 57, 82);
  vertical-align: bottom;
  font-weight: bold;
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: .25fr 50vw 1fr .25fr;
  grid-template-areas:
    "photo photo photo photo"
    ". desc reservation ."
    ". reviews reservation .";
  justify-items: left;
}

#photoBanner {
  z-index: 3;
  grid-area: photo;
}

#reservation {
  grid-area: reservation;
  position: sticky;
}

#root {
  z-index: 0;
  grid-area: desc;
  margin-left: -1.4em;
}

#app {
  grid-area: reviews;
  margin-top: 45em;
}
