.header {
  padding: 28px;
  color: rgb(247, 57, 82);
  vertical-align: bottom;
  font-weight: bold;
  font-size: 1.5rem;
}

.content {
  display: grid;
  grid-template-columns: .5fr 2fr 2fr .5fr;
  grid-template-areas:
    "photo photo photo photo"
    ". desc reservation ."
    ". reviews reservation .";
  justify-self: center;
  justify-items: left;
}

#photoBanner {
  z-index: 3;
  grid-area: photo;
  bottom: 0;
}

#reservation {
  grid-area: reservation;
}

#root {
  z-index: 0;
  grid-area: desc;
  margin-left: -1.5em;
}

#reviews {
  grid-area: reviews;
}
